@import url('https://fonts.googleapis.com/css?family=Montserrat');

html {
    margin: 0;
    padding: 0;
    background-image: url("../img/burger.png");
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
}

.notEaten, .eaten {
    margin: 0 auto;
    width: 30%;
    height: 100%;
    background-color: gray;
    display: inline-block;
    vertical-align: top;
    text-align: left;
    padding: 20px;
    background: rgb(240, 249, 249); 
    background: rgba(204, 204, 204, 0.3);
}

.addBurger {
    margin: 0 auto;
    width: 30%;
    background: rgb(240, 249, 249); 
    background: rgba(204, 204, 204, 0.3);
}

.container {
    text-align: center;
    width: 100%;
}

li {
    list-style-type: none;
    background: rgb(240, 249, 249); 
    background: rgba(204, 204, 204, 0.5);
    width: 100%;
    display: block;
    margin: 10px 0 10px 0;
    padding: 5px;
}

button {
    margin: 10px;
    width: 50%;
    text-align: center;
    border: 1px solid gray;
    background-color: white;
    font-family: 'Montserrat', sans-serif;
}

.header {
    text-align: center;
}

.icon {
    width: 20%;
}

.title {
    margin: 0 auto 5px;
    width: 65%;
    padding: 10px;
    background: rgb(240, 249, 249); 
    background: rgba(204, 204, 204, 0.3);
}